footer {
    width: 100vw;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0px;
    margin: 20px 0px;
}
.nav-menu-font li, p {
    padding: 30px 15px;
}
.nav-menu-font {
    font-family: 'Space Mono';
}
.footer-social-link{
    background-color: white;
    border-radius: 50%;
    margin: 10px;
    padding: 10px 13px;
    color: #0A192F;
}

/*
** Animaciones y transiciones
*/
.footer-social-link:hover {
    color: white;
    background-color: transparent;
    border: 1px solid white;
} 

.footer-social-link:active{
    box-shadow: 0px 0px 34px 0px rgba(208,200,200,0.75);
    -webkit-box-shadow: 0px 0px 34px 0px rgba(208,200,200,0.75);
    -moz-box-shadow: 0px 0px 34px 0px rgba(208,200,200,0.75);
}

/*
** Responsive
*/
