.projects-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects-section p{
    color: #CCD6F6;
    width: 40%;
    font-size: 15px;
    padding: 20px 0px;
    text-align: center;
    line-height: 1.5;
}

.projects{
    display: flex;
    flex-wrap: wrap;
    max-width: 900px;
    justify-content: center;

}
.project-card {
    width: 250px;
    height: 250px;
    background-color: antiquewhite;
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px;
    justify-content: center;
    align-items: center;
}
.project-card img {
    width: 60%;
    margin-bottom: 20px;
}
.project-card span{
    color: #0A192F;
    font-weight: 600;
    font-size: 15px;
}
/*
** Animaciones y transciciones
*/
.project-card:hover{
    border: 1px solid white;
    box-shadow: 0px 0px 51px 4px rgba(202,198,198,0.4);
    -webkit-box-shadow: 0px 0px 51px 4px rgba(202,198,198,0.4);
    -moz-box-shadow: 0px 0px 51px 4px rgba(202,198,198,0.4);
    transition: 0.2s;

}
.project-card img:hover{
    width: 70%;
}

/*
** Responsives
*/
@media (max-width: 840px){
    .projects-section p{
        width: 90%;
        /* padding: 10px; */
    }
}