.about-me {
    display: flex;
    flex-direction: column;
    padding-top: 120px;
}
.about-me-hi {
    font-family: 'Space Mono';
    font-size: 30px;
    color:#64FFDA;
    
}

.about-me-name {
    font-size: 70px;
    font-weight: 700;
    color: white;
}
.about-me-quote {
    font-size: 50px;
    font-weight: 600;
    color: #CCD6F6;
}
.about-me-presentation {
    width: 70%;
    padding: 20px 0px;
    color: #CCD6F6;
}
.about-me button {
    border: 1px solid white;
    border-radius: 10px;
    width: 220px;
}
/* .about-me a {
    padding: 20px 0px;
} */

.about-me-specific {
    width: 50%;
}
.about-me-photo {
    width: 50%;
    /* background-color: bisque; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-me-specific p {
    font-size: 15px;
    padding-top: 15px;
    line-height: 1.5;
    color: #CCD6F6;
}
.about-me-photo img {
    width: 70%;
    border-radius: 10%;
}

/*
** Animaciones
*/

.navbar-list a:hover {
    color: #64FFDA;
}

.navbar-list li:active {
    border: 1px solid white;
    border-radius: 10px;
    height: 40px;
    box-shadow: 0px 0px 51px 4px rgba(66,66,66,0.4);
-webkit-box-shadow: 0px 0px 51px 4px rgba(66,66,66,0.4);
-moz-box-shadow: 0px 0px 51px 4px rgba(66,66,66,0.4);
}

.btn-primary a:hover{
    color: black;
}

.btn-primary:hover { 
    background-color: #CCD6F6;
}

.btn-primary:active{
    background-color: #64FFDA;
}


/*
** Responsive
*/
@media (max-width: 840px){
    .about-me{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        text-align: center;
        padding-top: 250px;
        padding-bottom: 250px;
    }
   .about-me h1{
       font-size: 35px;
   }
    .about-me-hi{
       font-size: 20px;
       padding: 0px;
    }
    .about-me-quote{
        font-size: 20px;
        padding: 0px;
    }
    .about-me-presentation {
        font-size: 15px;
        width: 100%;
        display: none;
    }
    .about-me button{
        margin-top: 50px;
    }
    .about-me-text{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        width: 100%;
        /* text-align: center; */
    }
    .about-me-photo img {
        width: 100%;
        border-radius: 10%;
        /* background-color: bisque; */
        /* display: flex;
        justify-content: center;
        align-items: center; */
    }
    .about-me-specific {
        width: 90%;
    }
    .about-me-specific p{
        padding-top: 5px;
    }
    .about-me-specific p:first-child{
        padding-top: 50px;
    }

}
